<% if action_name == 'show' %>
    <% provide(:title, @user.username) %>
<% else %>
    <% provide(:title, "#{@user.username} comments") %>
<% end %>

<div class="container py-5" style="max-width: 800px">
    <div class="row">
        <aside class="col-md-4">
            <section>
            <%= gravatar_for @user %>
            <h1 class="mt-3">
                <%= @user.display_name if @user.display_name.present? %> 
            </h1>
            <p class="text-secondary">@<%= @user.username %></p>
            <% if @user == current_user %>
                <div>
                    <p><%= link_to "Account settings", edit_user_registration_path, class: "text-secondary" %></p>
                    
                    <%= button_tag 'Edit profile', class: "btn btn-outline-secondary rounded-pill w-100", data: { "bs-toggle": "modal", "bs-target": "#profileEditModal" } %>
                </div>
            <% end %>
            </section>
            <section class="stats">
            <%#= render 'shared/stats' %>
            </section>
        </aside>
        <div class="col-md-8">
            <div class="justify-content-start d-flex">
                <% if @user.posts.any? %>
                    <h3>
                        <%= link_to profile_path(@user.username), class: "text-decoration-none #{nav_link_active?('show')}" do %>
                            Post (<%= @user.posts_count %>)
                        <% end %>
                    </h3>
                <% end %>  
            
                <% if @user.comments.any? %>
                    <h3 class="ms-3">
                        <%= link_to profile_comments_path, class: "text-decoration-none #{nav_link_active?('profile_comments')}" do %>
                            Comments (<%= @user.comments.count %>)
                        <% end %>
                    </h3>
                <% end %>
            </div>
            <hr>
            <% if action_name == 'show' %>
                <% if @posts.any? %>
                    <ul>
                        <%= render @posts %>
                    </ul>
                <% else %>
                    <%= render 'profile_comments' %>
                <% end %>
            <% else %>
                <%= render 'profile_comments' %>
            <% end %>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="profileEditModal" tabindex="-1" aria-labelledby="profileEditModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="btn-close mx-0 close-modal-btn" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with model: current_user, url: update_profile_path, data: { controller: 'tweet-form' }, class: "row g-3", locals: true, method: :patch do |f| %>
            <form class="row g-3">
                <div class="col-md-12">
                    <h6><%= f.label :username, class: "form-label" %></h6>
                    <%= f.text_field :username, class: "form-control" %>
                </div>
                <div class="col-md-12">
                    <h6><%= f.label :display_name, class: "form-label" %></h6>
                    <%= f.text_field :display_name, class: "form-control" %>
                </div>

                <div class="col-md-12">
                    <%= f.submit "Update profile", class: "btn btn-dark rounded-pill" %>
                </div>
            </form>      
        <% end %>  
      </div>
    </div>
  </div>
</div>
