<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "TK", root_path, class: "navbar-brand fw-bolder p-3 border" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
        <%= link_to "Projects", '#', class: "nav-link fw-bold text-dark me-2" %>

        <%= link_to "Resume", '#', class: "nav-link fw-bold text-dark me-2" %>

        <%= link_to "Blog", '#', class: "nav-link fw-bold text-dark me-2" %>

        <%= link_to "Contact", '#', class: "nav-link fw-bold text-dark" %>

      </ul>

        <% if user_signed_in? %>
            <ul class="navbar-nav mb-2 mb-lg">
                <li class="nav-item dropdown">
                    <a class="nav-link fw-bold text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <% if !current_user.username.blank? %>
                        <%= current_user.username %>
                      <% else %>
                        <%= current_user.email %>
                      <% end %>
                      <%= image_tag 'menu.png', width: "22" %>
                    </a>
                    <ul class="dropdown-menu rounded-0 p-0">
                        <%= link_to "Account settings", edit_user_registration_path, class: "dropdown-item border-bottom" %>
                        <%= link_to "Profile", '#', class: "dropdown-item border-bottom" %>
                        <%= link_to "Saved posts", '#', class: "dropdown-item border-bottom" %>
                        <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item text-danger" %>
                    </ul>
                </li>
            </ul>
        <% else %>
            <ul class="navbar-nav">
                <%= link_to "Log in", new_user_session_path, class: "nav-link fw-bold text-dark mr-1" %>
                <%= link_to "Sign up", new_user_registration_path, class: "nav-link fw-bold text-dark ml-1" %>
            </ul>
        <% end %>
    </div>
  </div>
</nav>