<div class="col-md-4 pb-3">
    <div class="project-card">
        <div class="project-img mb-3">
            <% if project.image.attached? %>
                <%= image_tag project.image, class: "img-fluid" %>
            <% else %>
                <%= image_tag 'default-webpage.jpg', class: "img-fluid" %>
            <% end %>
        </div>
        <h5 class="project-title"><%= link_to project.title, project, class: "text-dark text-decoration-none" %></h5>
        <div class="project-tags">
            <%= link_to "HTML", '#', class: "btn btn-light btn-sm text-sm" %>
            <%= link_to "CSS", '#', class: "btn btn-light btn-sm" %>
            <%= link_to "JavaScript", '#', class: "btn btn-light btn-sm" %>
        </div>
        <p class="project-copy text-sm text-justify"><%= project.description.truncate(100) %></p>
        <div class="mt-3">
            <%= link_to project.preview_link, class: "btn btn-light border-dark me-2 btn-sm" do %>
                <i class="bi bi-box-arrow-up-right"></i>
                Preview
            <% end %>
            <%= link_to project.github_link, class: "btn btn-dark me-2 btn-sm" do %>
                <i class="bi bi-github"></i>
                Github
            <% end %>
        </div>
    </div>
</div>