<% provide(:title, @project.title) %>

<div class="container py-3">
    <div class="d-flex justify-content-between">
        <%= link_to :back, class: "text-dark" do %>
            <span><i class="bi bi-arrow-left fs-1"></i></span>
            <%# <span class="back">back</span> %>
        <% end %>

        <span class="dropdown">
            <% if user_signed_in? && @project.user == current_user %>
                <div style="cursor:pointer;" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical fs-3"></i>
                </div>
                <ul class="dropdown-menu">
                    <%= link_to edit_project_path(@project), class: "dropdown-item" do %>
                        <i class="bi bi-pen"></i>
                        Edit
                    <% end %>
                    <%= link_to @project, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this post" }, class: "dropdown-item" do %>
                        <i class="bi bi-trash"></i>
                        Delete
                    <% end %>
                </ul>
            <% end %>
        </span>
    </div>
    <div class="project text-center">
        <h1 class="mb-3"><%= @project.title %></h1>
        <p class="text-muted">Posted by <%= link_to @project.user.username, '#', class: "text-muted text-decoration-none" %>, <%= time_ago_in_words(@project.created_at) %>
        <div class="project-img mb-3">
            <% if @project.image.attached? %>
                <%= image_tag @project.image, width: "500px", class: "img-fluid" %>
            <% else %>
                <%= image_tag 'default-webpage.jpg', width: "500px", class: "img-fluid" %>
            <% end %>
        </div>
        <span>
            <%= link_to "Github link", @project.github_link, target: "_blank", class: "btn btn-dark rounded-pill mt-2 mb-3" %>
            <%= link_to "Preview link", @project.preview_link, target: "_blank", class: "btn btn-light border rounded-pill mt-2 mb-3" if @project.preview_link.present? %>
        </span>
        <p class="text-justify"><%= simple_format(@project.description) %></p>
        <%= render partial: "likes/button", locals: { likeable: @post } %>
    </div>
</div>