<% provide(:title, @post.title) %>

<div class="container py-3" style="max-width: 800px">
    <div class="d-flex justify-content-between">
        <%= link_to posts_path, class: "text-dark" do %>
            <span><i class="bi bi-arrow-left fs-1"></i></span>
            <%# <span class="back">back</span> %>
        <% end %>

        <span class="dropdown">
            <% if user_signed_in? && @post.user == current_user %>
                <div style="cursor:pointer;" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical fs-3"></i>
                </div>
                <ul class="dropdown-menu">
                    <%= link_to new_post_path, class: "dropdown-item" do %>
                        <i class="bi bi-plus-circle"></i>
                        New post
                    <% end %>
                    <%= link_to edit_post_path(@post), class: "dropdown-item" do %>
                        <i class="bi bi-pen"></i>
                        Edit
                    <% end %>
                    <%= link_to @post, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this post" }, class: "dropdown-item" do %>
                        <i class="bi bi-trash"></i>
                        Delete
                    <% end %>
                </ul>
            <% end %>
        </span>
    </div>
    <div class="post">
        <div class="text-center">
            <h5 class="text-sm text-secondary mb-2"><small><%= time_ago_in_words(@post.created_at) %> ago</small></h5>
            <h1><%= @post.title %></h1>
            
            <div class="post-tags mt-3">
                <% @post.tags.each do |tag| %>
                    <%= link_to tag.name, tag, class: "btn btn-light btn-sm border text-sm" %>
                <% end %>
            </div>
            <div class="post-img my-5 img-fluid">
                <% if @post.image.attached? %>
                    <%= image_tag @post.image, class: "img-fluid" %>
                <% else %>
                    <%= image_tag 'default-webpage.jpg', class: "img-fluid" %>
                <% end %>
            </div>
        </div>
        <p class="text-block"><%= simple_format(@post.body) %></p>
        <div class="text-center">
            <%= render partial: "posts/button", locals: { likeable: @post } %>
        </div>
        <div class="py-2 text-center">
            <h5 class="mt-4">Published by:</h5>
            <%= link_to '#', class:"text-dark text-decoration-none" do %>
                <i class="bi bi-person-circle" style="font-size: 50px;"></i>
            <% end %>
        </div>
    </div>

    <section class="comments mt-4 pb-3 border p-3" style="font-size: 15px;">
        <h2 class="text-center">Comments (<%= @post.comments_count %>)</h2>
        <%= render @post.comments.where(parent_id: nil).includes(:user).order(id: :desc) %>
        <h6 class="pt-3">New comment:</h6>
        <div id="comment-form" class="comment-form mt-2">
            <%= render 'comments/form', commentable: @commentable, parent: nil %>
        </div>
    </section>
</div>